# Helm OCI registry settings (used by Taskfile and CI)
# Example:
#   OCI_REPO=registry.gitlab.com/from-the-lamp/infra/helm-charts
#   OCI_REPO_USER=<gitlab-registry-user>
#   OCI_REPO_PASS=<gitlab-registry-token>
OCI_REPO=
OCI_REPO_USER=
OCI_REPO_PASS=
